@model List<StockMovementDTO>
@{
    ViewData["Title"] = "StockMovement";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="pagetitle">
    <h1>StockMovement</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active">StockMovement</li>
        </ol>
    </nav>
</div>
<h1 class="text-center">
    <i class="bi bi-arrows-move"></i>
    StockMovement Page
</h1>

<div class="table-responsive">
    <table id="myTable" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ProductName</th>
                <th>WarehouseName</th>
                <th>Quantity</th>
                <th>MovementType</th>
                <th>MovementDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.WarehouseName</td>
                    <td>@item.Quantity</td>
                    <td>@item.MovementType</td>
                    <td>@item.MovementDate.ToString("dd MMM yyyy HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

