@model List<RoleAssignViewModel>
@{
    ViewData["Title"] = "Assign Role";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="pagetitle">
    <h1>Assign Role</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active">Assign Role</li>
        </ol>
    </nav>
</div>
<h1 class="text-center">
    <i class="bi bi-shield-lock"></i>
    Assign Role Page
</h1>
<form id="assignRoleForm" method="post">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="form-check">
            <input type="hidden" asp-for="@Model[i].RoleId" />
            <input type="hidden" asp-for="@Model[i].RoleName" />
            <input type="checkbox" asp-for="@Model[i].RoleExist" class="form-check-input" />
            <label class="form-check-label" for="@Model[i].RoleExist">@Model[i].RoleName</label>
        </div>
    }
    <button class="btn btn-outline-primary mt-3">Save</button>
</form>


